build/
.idea/
.gradle/
.classpath
.project
.settings/
.idea/
.vscode/
.java-version
build-eclipse/
/tags
out/
.DS_store
*.geode
*.iml
*.ipr
*.iws
*.swp
*.log
*.patch
*.diff
*.dat
*.rej
*.orig
geode-pulse/screenshots/
/jpf.properties
.git-together
bin/
.metadata/
/ci/pipelines/meta/meta.properties.local
/dev-tools/docker/docs/build-docs-output.txt
fly
